<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>pagina2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>{{nombre}}</h1>
  <div *ngFor="let persona of listado">
    {{persona.id}}<br>
    {{persona.nombre}}<br>
    {{persona.direccion}}<br>----------------
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Pie de pagina</ion-title>
  </ion-toolbar>
</ion-footer>